@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
.rightbox{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  margin-top: 10px;
  /* border: 1px solid black; */
}
.name {
  width: auto;
  margin-top: 55px;
  /* border: 1px solid red; */
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  word-spacing: 20px;
  
}
.small{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#mail a:link{
  margin-left: 5px;
  text-decoration: none;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: 250px;
  margin-top: 25px;
  
  /* border: 1px solid red; */
}
.containt{
  font-family: 'Ubuntu', sans-serif;
  line-height: 20px;
}
.change{
  margin-top: 40px;
}
.logo{
  display: flex;
  align-items:start;
  width: auto;
  height: 70px;
  margin-top: auto;
  /* border: 1px solid red; */
}
.icon{
	display:flex;
  width: 50px;
  height: 50px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 50% ;
  cursor:pointer;
  background-color: #e8edf2;
  /*border: 1px solid black;*/
}
.size{
	font-size:40px;
	cursor:pointer;
	

}
/*.fa-brands:hover{
	color:#000000;
}*/
.fa-instagram:hover{
	background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.fa-youtube:hover{
	background: linear-gradient(to bottom, #FF0000, #FF4040);
	-webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.fa-facebook:hover{
	/*background: linear-gradient(to bottom, #3B5998, #8B9DC3, #D6E5F3, #FFFFFF);*/
	background-color:#3B5998;
	-webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.fa-linkedin:hover{
	background: linear-gradient(to bottom, #0077B5 50%, #00568E 50%);
	-webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.fa-github:hover{
	background: linear-gradient(to bottom, #24292e 50%, #161b22 50%);
	-webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}




